.quest {
    float: left;
    padding: 1rem;
    border: #ccc 2px dotted;
    margin: 2rem 9px;
    border-radius: 30px;
    font-size: 18px;
    padding: 0.5rem 0.7rem;
    text-align: left;
    width: 500px;
    height: 400px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        background-color: rgb(253, 253, 207);
        padding: 10px;
    }

    &-content {
        margin-bottom: .5rem;
    }
}
::ng-deep .container-width {
    width:1300px !important;
}