.post {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin-bottom: .5rem;
  }

  .info {
    strong {
      margin-right: 1rem;
    }
  }

  form {
    max-width: 600px;
    margin: 0 auto;
  }

}
.open {
  margin-right: 10px;
}

.wrapper {
  display: flex;
   justify-content: space-between;
   float: right;
   height: 3.5rem;
   width: 15rem;
   font-size: 1rem;
 padding: 0.5rem;
 }
