<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h1>{{ post.title }}</h1>

      <button routerLink="/" class="btn btn-link">{{'Goto Home Page' | translate }}</button>
    </div>

    <div class="info">
      <strong>{{ post.author }}</strong>
      <small>{{ post.date | date:'medium':null:'ru' }}</small>
    </div>

    <div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>
  </div>
</div>

<div>Comment  {{commentInfo.author}}</div>
<div>{{commentInfo.email}}</div>
<div>{{commentInfo.message}}</div>
<app-comments (messageToEmit)="getMessage($event)" ></app-comments>

<div *ngFor="let commentBlock of commentInfo">
<div><b>Author:</b>  {{commentBlock.author}}</div>
<div><u><b>The comment</b></u>  <br> {{commentBlock.message}} </div>
</div>



<ng-template #loading>
  <p class="text-center">Загружаю пост...</p>
</ng-template>
