<div *ngIf="post">
  <div class="header">
    <h1>{{ post.title }}</h1>

    <ng-template #loading>
      <p class="text-center">{{ 'Loading posts' | translate }}</p>
    </ng-template>

    <ul>
      <li>
        <button routerLink="/" class="wrapper">
          <b> {{ 'Goto Home Page' | translate }}</b>
        </button>
      </li>
      <li>
        <button
          routerLink="/questionnaire"
          class="wrapper"
          *ngIf="post && auth.isAuthenticated()"
        >
          <b> {{ 'Provide info' | translate }}</b>
        </button>
      </li>
    </ul>
  </div>
  <div class="info">
    <strong>{{ post.author }}</strong>
  </div>
  <div>
    <small>{{ post.date | date: 'medium':null:'ru' }}</small>
  </div>

  <div>
    <quill-view-html [content]="post.text"></quill-view-html>
  </div>
</div>

<ng-container *ngFor="let CommentBlock of commentsInfo | slice: 0:amount">
  <div>
    <b>Author:</b> {{ CommentBlock.email }} <br />{{ CommentBlock.message }}
    <br /><small>{{ CommentBlock.date | date: 'short':null:'ru' }}</small>
  </div>
</ng-container>
<div>
  <button
    *ngIf="commentsInfo.length > amount"
    (click)="btnShowCommentCount()"
    class="allComments"
  >
    All comments
  </button>
  <button
    *ngIf="amount > less"
    (click)="btnShowCommentLess()"
    class="lessComments"
  >
    Less comments
  </button>
  <app-login-dialog
    class="btn-right"
    [showButton]="post && !auth.isAuthenticated()"
    [buttonText]="'Login to comment'"
    [showLink]="false"
  ></app-login-dialog>
</div>

<app-comments
  (messageToEmit)="getMessage($event)"
  *ngIf="auth.isAuthenticated()"
></app-comments>
