.homebutton {
    float: right;
    border-radius: 30px;
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
  background-color: rgb(38, 129, 233);
}

.error {
    color: red;
}

.form-control {
    width: 35%;
    font-size: 16px;
}

.form-date {
    width: 30%;
}
