.homebutton {
    float: right;
    border-radius: 30px;
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
  background-color: rgb(38, 129, 233);
}

.error {
    color: red;
}

.form-control {
    width: 40%;
    font-size: 16px;
    margin: -6px;
    right: -15px; 
}

.form-date {
    width: 34%;
}
.all-center{
    max-width: 800px;
  margin: 0 auto; 
}