.homebutton {
    float: right;
}

.error {
    color: red;
}

.form-control {
    width: 35%;
}

.form-date {
    width: 30%;
}
.star{
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}