<nav class="navbar bg-primary">
  <h1>
    {{ 'Home' | translate }}
  </h1>

  <ul >
   <li *ngIf="auth.isAuthenticated()" class="exittext"> <a (click)="logout($event)" 
    ><b>{{ 'Exit' | translate }}</b>
  </a></li>
<li class = "wrapper">
    <select #langSelect (change)="changeLang(langSelect.value)">
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
        >{{ lang }}</option>
    </select>
  </li>
    </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
