<div *ngIf="posts.length; else loading">
  <div class="custom-form-control">
    <input type="text" placeholder="{{'Find post' | translate}}" [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>{{'Author' | translate}}</th>
      <th>{{'Title' | translate}}</th>
      <th>{{'Date' | translate}}</th>
      <th>{{'Action' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | searchPosts:searchStr; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.date | date:'medium':null:'ru' }}</td>
      <td>
        <button
          class="btn btn-link open"
          [routerLink]="['/admin', 'post', post.id, 'edit']"
        >
          {{'Open' | translate}}
                </button>
        <a (click)="open(post,modalRef)">{{'Delete' | translate}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #modalRef let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'Poupup' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  {{titlePost}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="remove(postid)">Yes</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">No</button>
  </div>
</ng-template>

<ng-template #loading>
  <p class="text-center">{{noPostMessage}}</p>
</ng-template>
