<app-alert></app-alert>

<nav class="navbar bg-primary">
  <h1>
    <button routerLink="/" class="btn-postpage">Go to user Posts page</button>
  </h1>

  <ul>
    <li *ngIf="auth.isAuthenticated()">
      <select #langSelect (change)="changeLang(langSelect.value)">  
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>  
    </select>  
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">{{'Home' | translate}}</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'create']">{{'Create' | translate}}</a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">{{'Exit' | translate}}</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
