<nav class="navbar bg-primary">
  <b
    ><a routerLink="/" class="home-style">
      {{ 'Home' | translate }}
    </a>
  </b>
  <ul>
    <ul *ngIf="auth.isAuthenticated()">
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'dashboard']">{{ 'Home' | translate }}</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'create']">{{ 'Create' | translate }}</a>
      </li>
      <li>
        <a href="#" (click)="logout($event)">{{ 'Exit' | translate }}</a>
      </li>
    </ul>
    <li>
      <select #langSelect (change)="changeLang(langSelect.value)">
        <option
          *ngFor="let lang of translate.getLangs()"
          [value]="lang"
          [selected]="lang === translate.currentLang"
          >{{ lang }}</option
        >
      </select>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
